*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

:root{
    --yellow: hsl(47, 88%, 63%);
    --dark-gray: hsl(0, 0%, 7%);
    --gray: hsl(0, 0%, 42%);
}
@font-face {
    font-family: Figtree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf); 
  }

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    font-family: Figtree, Arial, Helvetica, sans-serif;
}

.container{
    width: 20em;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.card{
    height: 25em;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 10px;

}

.post-banner{
    width: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.post-tag{
    font-weight: bold;
    background-color: var(--yellow);
    padding: 10px;
    align-self: flex-start;
    border-radius: 5px;
    font-size: 0.9em;
}

.post-tag:hover{
    background-color: black;
    color: var(--yellow);
}

.post-tag:hover a{
    color: var(--yellow);
}

.post-date{
    font-size: 0.8em;
    color: var(--dark-gray);
}

.post-title{
    font-weight: bold;
    font-size: 1.4em;
}

.post-title a:hover{
    color: var(--yellow);
}

.post-content{
    font-size: 0.9em;
    color: var(--gray);
}

.post-author{
    display: flex;
    align-items: center;
    height: 32px;
}

.post-author img{
    margin-right: 10px;
    height: 100%;
}

.post-author a{
    font-size: 0.9em;
    font-weight: bold;
}

.post-author a:hover{
    color: var(--yellow);
}

.attribution{
    margin-top: 20px;
}

.attribution a{
    color: black;
}